/* Globales */
*::after,
*::before,


.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}


/* Header */

.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;


}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}

.cart-empty{
    padding: 20px;
    text-align: center;
}

.hidden{
    display: none;
}


/* ========== Estilo del carrito ========== */
.carrito {
    border: 1px solid #666;
    width: 400px;                
    max-width: 90vw;            
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: absolute;          
    top: 60px;                   
    right: 10px;                
    transition: 0.3s;
    background-color: #fff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    opacity: 0;
    margin-right: -100%;
}



.carrito.activo {
    margin-right: 0;
    opacity: 1;
}


.carrito .header-carrito {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.carrito .carrito-item {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #ccc;
    padding: 15px;
}

.carrito .carrito-item img {
    width: 70px;
    height: auto;
    margin-right: 15px;
    border-radius: 5px;
}

.carrito .carrito-item .carrito-item-titulo {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
}

.carrito .carrito-item .selector-cantidad {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
}

.carrito .carrito-item .carrito-item-cantidad {
    border: none;
    font-size: 16px;
    background-color: transparent;
    text-align: center;
    width: 30px;
}

.carrito .carrito-item .selector-cantidad i {
    font-size: 16px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}

.carrito .carrito-item .carrito-item-precio {
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
    display: block;
}

.carrito .carrito-item .btn-eliminar {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #000;
    font-size: 18px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    background: transparent;
    cursor: pointer;
    z-index: 10;
}

.carrito .carrito-item .btn-eliminar i {
    pointer-events: none;
}

.carrito-total {
    background-color: #f3f3f3;
    padding: 20px;
}

.carrito-total .fila {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.carrito-total .btn-pagar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    padding: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.carrito-total .btn-pagar:hover {
    scale: 1.05;
}
